name: Spot-it deploy
on: 
  push:
    branches: [main]
  pull_request:
    branches: [main]
   
jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - name: Get latest code
      uses: actions/checkout@v2
      
    - name: Use node.js 17
      uses: actions/setup-node@v3
      
    - name: Projet build
      run: npm run build
      
    - name: Sync files
      uses: SamKirkland/FTP-Deploy-Action@4.3.0
      with:
        server: ftp.cluster028.hosting.ovh.net
        username: metyfrraju
        password: ${{ secrets.ftp_password }}
        server-dir: spotit/
        local-dir: ./dist/
